@charset "utf-8";


header {
    font-size: 60px;
    font-weight: bolder;
    font-family: garamond;
}
author, song, year{
    display: block;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
}

genre {
    padding: 8px;
    font-size: 20px;
}

name {
    font-size: 40px;
    text-decoration: underline;
    font-weight: bolder;
}

title {
    font-Size: 30px;
    font-weight: bold;
}

author {
    display: block;
    border: 1px black solid;
    width:  500px;
    background-color: #7bdcb5;
    color: black;
    margin: auto;
    font-family: garamond;
}

songlist {
    background-color: #abb8c3;
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
}